@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root{
    --bg:#050816;
    --surface:#0b1220;
    --primary:#00E5FF;
    --secondary:#7B2FF7;
    --text:#ffffff;
    --text-light:#b8c2d1;
    --border:rgba(255,255,255,.08);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* outline: 1px solid red; */
}


html,
body,
#root{
    width:100%;
    overflow-x:hidden;
}
html{
    scroll-behavior:smooth;
}

body{
    font-family:"Poppins",sans-serif;
    background:var(--bg);
    color:var(--text);
    overflow-x:hidden;
    line-height:1.7;

    /* Full Website Grid Background */
    background-image:
    linear-gradient(rgba(255,255,255,.025) 1px,transparent 1px),
    linear-gradient(90deg,rgba(255,255,255,.025) 1px,transparent 1px);

    background-size:60px 60px;
}

/* Soft Glow Top */

body::before{
    content:"";
    position:fixed;
    width:500px;
    height:500px;
    top:-180px;
    left:-180px;
    border-radius:50%;
    background:#00E5FF20;
    filter:blur(120px);
    pointer-events:none;
    z-index:-1;
}

/* Soft Glow Bottom */

body::after{
    content:"";
    position:fixed;
    width:500px;
    height:500px;
    bottom:-180px;
    right:-180px;
    border-radius:50%;
    background:#7B2FF720;
    filter:blur(120px);
    pointer-events:none;
    z-index:-1;
}

::selection{
    background:var(--primary);
    color:#050816;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#050816;
}

::-webkit-scrollbar-thumb{
    background:var(--primary);
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#00c7df;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    display:block;
    max-width:100%;
}

button{
    font-family:inherit;
    cursor:pointer;
    border:none;
}

section{
    width:min(1200px,92%);
    margin:auto;
    min-height:100vh;
    padding:100px 0;
    position:relative;
}

.section-title{
    color:var(--primary);
    font-size:15px;
    letter-spacing:4px;
    font-weight:600;
    text-transform:uppercase;
    margin-bottom:12px;
}

h2{
    font-size:48px;
    font-weight:700;
    margin-bottom:25px;
}

h2 span{
    color:var(--primary);
}

p{
    color:var(--text-light);
}

/* Glass Card */

.glass{
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(18px);
    border:1px solid var(--border);
    border-radius:22px;
}

/* Hover Animation */

.hover-card{
    transition:.35s ease;
}

.hover-card:hover{
    transform:translateY(-8px);
    border-color:var(--primary);
    box-shadow:
    0 10px 30px rgba(0,229,255,.18);
}

/* ================= Tablet ================= */

@media(max-width:992px){

    section{
        width:92%;
        padding:80px 0;
    }

    h2{
        font-size:38px;
    }

    .hero,
    .about,
    .contact{
        flex-direction:column;
        text-align:center;
        gap:60px;
    }

    .hero-btn,
    .social{
        justify-content:center;
    }

}

/* ================= Mobile ================= */

@media(max-width:768px){

    section{
        width:94%;
        padding:70px 0;
    }

    h2{
        font-size:32px;
    }

    .hero h1{
        font-size:46px;
    }

    .hero h2{
        font-size:22px;
    }

    .hero-btn{
        flex-direction:column;
    }

    .about-right,
    .education-grid,
    .project-grid,
    .skill-grid{
        grid-template-columns:1fr;
    }

   
}