/* ================= CONTACT ================= */

.contact {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
  padding: 100px 8%;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
  min-width: 300px;
}

.contact-left h2 {
  font-size: 42px;
  margin: 20px 0;
  color: #fff;
}

.contact-left p {
  color: #cbd5e1;
  line-height: 1.8;
}

/* INFO */
.info {
  margin: 30px 0;
}

.info p {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
  font-size: 16px;
}

.info svg {
  color: #00e5ff;
  font-size: 18px;
}

/* SOCIAL */
.social-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.social-links a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: 0.3s ease;
}

.social-links a:hover {
  background: #00e5ff;
  color: #050816;
  transform: translateY(-6px);
}

/* FORM */
.contact-form {
  flex: 1;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-form input,
.contact-form textarea {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 16px;
  color: white;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

.contact-form textarea {
  min-height: 140px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #00e5ff;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.2);
}

/* BUTTON */
.contact-form button {
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #00e5ff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 18px #00e5ff;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {
  .contact {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .contact-left,
  .contact-form {
    width: 100%;
  }

  .info p {
    justify-content: center;
  }

  .social-links {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .contact {
    padding: 80px 5%;
  }

  .contact-left h2 {
    font-size: 29px;
  }

  .contact-left p {
    font-size: 14px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 15px;
    padding: 14px;
  margin-right: 36px;
  }

  .contact-form button {
    font-size: 16px;
 margin-right: 36px;
  }
}