/* ================= NAVBAR ================= */

.nav-wrapper {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  max-width: 1250px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-radius: 18px;
  background: rgba(12, 18, 35, 0.65);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-sizing: border-box;
  transition: 0.35s ease;
}

.navbar:hover {
  border-color: #00e5ff59;
  box-shadow: 0 10px 35px #00e5ff1f;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #00e5ff,
    #ffffff,
    #00e5ff,
    #ffffff,
    #00e5ff
  );

  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.logo .code {
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #00e5ff,
    #ffffff,
    #00e5ff,
    #ffffff,
    #00e5ff
  );

  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: codeGlow 2s ease-in-out infinite;
}

@keyframes codeGlow {
  0%,
  100% {
    transform: scale(1);
    background-position: 200%;
    /* text-shadow:  0 0 8px rgba(0, 229, 255, .8),0 0 18px rgba(0, 229, 255, .5); */
  }

  50% {
    transform: scale(1.08);
    background-position: 200%;
    text-shadow:
      0 0 15px #00e5ff,
      0 0 35px #00e5ffcc;
  }
}

/* Desktop Menu */

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #d1d5db;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #00e5ff;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00e5ff;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu-icon {
  display: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

/* Tablet */

@media (max-width: 992px) {
  .nav-links {
    gap: 20px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar {
    height: 65px;
    padding: 0 20px;
  }

  .nav-links {
    position: absolute;

    top: 80px;

    left: 20px;

    right: 20px;

    display: flex;

    flex-direction: column;

    gap: 20px;

    padding: 30px;

    background: #0b1220;

    border-radius: 15px;

    border: 1px solid rgba(255, 255, 255, 0.08);

    transform: translateY(-20px);

    opacity: 0;

    visibility: hidden;

    transition: 0.35s;
  }

  .nav-links.active {
    opacity: 1;

    visibility: visible;

    transform: translateY(0);
  }

  .nav-wrapper {
    position: absolute;
    /* top: 20px; */
    /* left: 0; */
    width: 99%;
  }

  .h2 {
    font-size: 48px;
    font-weight: 700;
    /* margin-bottom: 25px; */
  }
}
